
.contenitore{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-orizzontali{
    position: relative;
    min-width: 300px;
    width: 80%;
    min-height: 300px;
}

.item img{
    width: 100%;
    min-width: 300px;
    height: 400px;
    min-height: 300px;
}

.titolo{
    display: none;
    color: white;
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.paragrafo{
    display: none;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.item{
    display: none;
    position: relative;
}

.item.active{
    display: block;
}

.titolo.active{
    display: inline-block;
}

.paragrafo.active{
    display: inline-block;
}

.slide-verticali{
    position: relative;
    height: 400px;
    min-height: 300px;
    width: 20%;
    min-width: 100px;
    overflow: auto;
}

.slide-verticali img{
    width: 100%;
    min-width: 100px;
    height: 100px;
    min-height: 40px;
}


.mini-item{
    filter: grayscale(1);
}

.mini-item.active-mini{
    filter: grayscale(0);
    border: 1px solid white;
}

.up, .down{
    z-index: 10;
    position: absolute;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 44%;
    cursor: pointer;
}

.up{
    top: 10px;
}

.down{
    bottom: 10px;
}

.up:hover, .down:hover{
    background-color: #fff;
}